In [130]:
import numpy as np
import pandas as pd

In [60]:
a = np.arange(10)

In [61]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [62]:
a.shape

(10,)

In [63]:
type(a)

numpy.ndarray

In [64]:
type(a.shape)

tuple

In [65]:
b = np.ones((3,4), dtype=int)

In [66]:
b

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [67]:
len(b.shape)

2

In [68]:
b.shape[0] #number or rows

3

In [69]:
b.shape[1] #number or columns

4

In [70]:
b.shape

(3, 4)

In [71]:
b.sum()

12

In [72]:
b.sum(axis=0)

array([3, 3, 3, 3])

In [73]:
b.sum(axis=0).ndim

1

In [74]:
b.sum(axis=0).size

4

In [75]:
b.sum(axis=1)

array([4, 4, 4])

In [76]:
N =5
m = np.zeros((N,N), dtype=int)
for i in range(N):
    m[i,i] = 1
    m[i, N-1-i] =1
m

array([[1, 0, 0, 0, 1],
       [0, 1, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 1, 0],
       [1, 0, 0, 0, 1]])

In [77]:
k = np.eye((N), dtype=int)
k

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

In [78]:
kR = k[::-1, :]
kR

array([[0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0]])

In [79]:
arr40 = np.arange(40)
arr40

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39])

In [80]:
arr40.reshape(4,10)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39]])

In [81]:
arr40.reshape(2,4,5)

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]]])

In [82]:
arr40reshaped = arr40.reshape(2,2,2,5)
arr40reshaped

array([[[[ 0,  1,  2,  3,  4],
         [ 5,  6,  7,  8,  9]],

        [[10, 11, 12, 13, 14],
         [15, 16, 17, 18, 19]]],


       [[[20, 21, 22, 23, 24],
         [25, 26, 27, 28, 29]],

        [[30, 31, 32, 33, 34],
         [35, 36, 37, 38, 39]]]])

In [83]:
len(arr40reshaped.shape)

4

In [84]:
kSum = k + kR

In [85]:
kSum

array([[1, 0, 0, 0, 1],
       [0, 1, 0, 1, 0],
       [0, 0, 2, 0, 0],
       [0, 1, 0, 1, 0],
       [1, 0, 0, 0, 1]])

In [86]:
kSum

array([[1, 0, 0, 0, 1],
       [0, 1, 0, 1, 0],
       [0, 0, 2, 0, 0],
       [0, 1, 0, 1, 0],
       [1, 0, 0, 0, 1]])

In [87]:
kSum[2][2]

2

In [88]:
kSum[2][2]=1

In [89]:
kSum

array([[1, 0, 0, 0, 1],
       [0, 1, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 1, 0],
       [1, 0, 0, 0, 1]])

In [91]:
arr40reshaped

array([[[[ 0,  1,  2,  3,  4],
         [ 5,  6,  7,  8,  9]],

        [[10, 11, 12, 13, 14],
         [15, 16, 17, 18, 19]]],


       [[[20, 21, 22, 23, 24],
         [25, 26, 27, 28, 29]],

        [[30, 31, 32, 33, 34],
         [35, 36, 37, 38, 39]]]])

In [100]:
arr40reshaped[1][1][0][1]

31

In [101]:
arr40

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39])

In [104]:
arr405X8 = arr40.reshape(5,8)
arr405X8

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39]])

In [119]:
arr405X8[1:2,3:4] = 16

In [120]:
arr405X8

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 16, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39]])

In [122]:
len(np.unique(arr405X8))

39

In [123]:
len(arr405X8)

5

In [124]:
len(arr40)

40

In [125]:
len(arr40reshaped)

2

In [126]:
type(len(arr40reshaped))

int

In [129]:
type(arr40reshaped.shape)

tuple

In [133]:
pd.Series(arr40)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    16
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
dtype: int32

In [136]:
pa = pd.Series(arr40reshaped.shape)
pa

0    2
1    2
2    2
3    5
dtype: int64

In [137]:
arr40.dtype

dtype('int32')

In [138]:
pa.dtype

dtype('int64')

In [139]:
pa.itemsize

8

In [140]:
pa.nbytes

32

In [141]:
x = np.array([1, 2, 3])
y = np.array([3, 2, 1])

In [142]:
[x,y]

[array([1, 2, 3]), array([3, 2, 1])]

In [144]:
np.concatenate([x,y])

array([1, 2, 3, 3, 2, 1])

In [181]:
arr0 = np.zeros((5,5), dtype=int)
arr0

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [182]:
np.fill_diagonal((arr0),1)

In [183]:
arr0

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

In [184]:
arrAnti = np.rot90(np.eye(5, dtype=int))
arrAnti

array([[0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0]])

In [185]:
np.fill_diagonal(arrAnti,1)

In [186]:
arrAnti

array([[1, 0, 0, 0, 1],
       [0, 1, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 1, 0],
       [1, 0, 0, 0, 1]])

In [187]:
arr0

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

In [188]:
arr0[::-1]

array([[0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0]])

In [189]:
np.fill_diagonal(arr0[::-1],1)

In [190]:
arr0

array([[1, 0, 0, 0, 1],
       [0, 1, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 1, 0],
       [1, 0, 0, 0, 1]])

In [200]:
upper, lower = np.vsplit(arr0, [2])
print(upper)
print(lower)

[[1 0 0 0 1]
 [0 1 0 1 0]]
[[0 0 1 0 0]
 [0 1 0 1 0]
 [1 0 0 0 1]]

In [201]:
right, left = np.hsplit(arr0, [2])
print(right)
print(left)

[[1 0]
 [0 1]
 [0 0]
 [0 1]
 [1 0]]
[[0 0 1]
 [0 1 0]
 [1 0 0]
 [0 1 0]
 [0 0 1]]

In [206]:
np.vstack([arr0[::-1], arr0])

array([[1, 0, 0, 0, 1],
       [0, 1, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 1, 0],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [0, 1, 0, 1, 0],
       [0, 0, 1, 0, 0],
       [0, 1, 0, 1, 0],
       [1, 0, 0, 0, 1]])

In [221]:
x = 55
y = 23

In [222]:
x/y

2.391304347826087

In [223]:
x//y

2

In [226]:
f = np.arange(9).reshape((3,3))

In [227]:
f

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [228]:
f**2

array([[ 0,  1,  4],
       [ 9, 16, 25],
       [36, 49, 64]], dtype=int32)

In [229]:
f%2

array([[0, 1, 0],
       [1, 0, 1],
       [0, 1, 0]], dtype=int32)

In [230]:
np.negative(f)

array([[ 0, -1, -2],
       [-3, -4, -5],
       [-6, -7, -8]])

In [232]:
np.add(f, 3)

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [233]:
np.abs(np.negative(f))

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [244]:
m = np.arange(2,6)

In [245]:
np.add.reduce(m)

14

In [246]:
np.multiply.reduce(m)

120

In [254]:
d = np.random.random(200)

In [255]:
sum(d)

99.670819258161231

In [256]:
min(d)

0.0051921508932554206

In [257]:
max(d)

0.99374393562304253

In [258]:
d.min()

0.0051921508932554206

In [259]:
d.max()

0.99374393562304253