In [15]:
import numpy as np
np.__version__

'1.13.1'

In [16]:
np?

In [17]:
L = list(range(10))

In [18]:
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
type(L[0])

int

In [20]:
type(L[0])

int

In [21]:
L2 = [str(c) for c in L]
L2

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [22]:
type(L2[0])

str

In [23]:
L3 = [True, "2", 3.0, 4]
[type(item) for item in L3]

[bool, str, float, int]

In [24]:
import array

In [25]:
L = list(range(10))

In [26]:
A = array.array('i', L)
A

array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [27]:
np.array([1, 4,2,5,3]) #create arrays from Python lists

array([1, 4, 2, 5, 3])

In [28]:
np.array([1, 4,2,5,3]) #create arrays from Python lists

array([1, 4, 2, 5, 3])

In [29]:
np.array([3.14, 4, 2, 3]) #If types do not match, NumPy will upcast if possible (here, integers are
                            #upcast to floating point)

array([ 3.14,  4.  ,  2.  ,  3.  ])

In [30]:
np.array([1, 2, 3, 4], dtype='float32') #dtype explicitly set the data type

array([ 1.,  2.,  3.,  4.], dtype=float32)

In [31]:
# nested lists result in multidimensional arrays
np.array([range(i, i + 3) for i in [2, 4, 6]])

array([[2, 3, 4],
       [4, 5, 6],
       [6, 7, 8]])

# #Creating arrays from scratch

In [32]:
#Create a length-10 integer array filled with zeros
np.zeros(10, dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [33]:
# Create a 3x5 floating-point array filled with 1s
np.ones((3, 5), dtype=float)

array([[ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [34]:
# Create a 3x5 array filled with 3.14
np.full((3,5), 3.14)

array([[ 3.14,  3.14,  3.14,  3.14,  3.14],
       [ 3.14,  3.14,  3.14,  3.14,  3.14],
       [ 3.14,  3.14,  3.14,  3.14,  3.14]])

In [35]:
# Create an array filled with a linear sequence
# Starting at 0, ending at 20, stepping by 2
# (this is similar to the built-in range() function)
np.arange(0, 20, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [36]:
# Create an array of five values evenly spaced between 0 and 1
np.linspace(0, 1, 5)

array([ 0.  ,  0.25,  0.5 ,  0.75,  1.  ])

In [37]:
# Crreate a 3x3 array of uniformly distributed
# random values between 0 and 1
np.random.random((3,3))

array([[  5.71853007e-04,   2.54507193e-01,   6.90986887e-01],
       [  2.82456004e-01,   5.08260675e-01,   8.03965407e-02],
       [  3.82384546e-01,   3.47869803e-01,   1.53269811e-02]])

In [38]:
# Create a 3x3 array of normally distributed random values
# with mean 0 and standard deviation 1
np.random.normal(0, 1, (3,3))

array([[ 2.51367409,  0.30965484,  0.29144012],
       [-0.31675151, -0.72786883,  0.05471216],
       [-0.19423535,  0.34472716,  0.06379988]])

In [39]:
# Create a 3x3 array of random integers in the interval [0, 10)
np.random.randint(0, 10, (3, 3))

array([[5, 5, 0],
       [8, 8, 1],
       [3, 5, 7]])

In [40]:
# Create a 3x3 identity matrix
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

In [41]:
# Create an uninitialized array of three integers
# The values will be whatever happens to already exist at that
# memory location
np.empty(3)

array([ 1.,  1.,  1.])

# NumPy Array Attributes

In [42]:
np.random.seed(0) # seed for reproducibility

x1 = np.random.randint(10, size=6) # One-dimensional array
x2 = np.random.randint(10, size=(3, 4)) # Two-dimensional array
x3 = np.random.randint(10, size=(3, 4, 5)) # Three-dimensional array

In [43]:
print("x3 ndim: ", x3.ndim)
print("x3 shape: ", x3.shape)
print("x3 size: ", x3.size)

x3 ndim:  3
x3 shape:  (3, 4, 5)
x3 size:  60

In [44]:
print("x3 data type is ",x3.dtype )

x3 data type is  int32

In [45]:
print("itemsize:", x3.itemsize, "bytes")
print("nbytes:", x3.nbytes, "bytes")

itemsize: 4 bytes
nbytes: 240 bytes

# Array Indexing: Accessing Single Elements

In [46]:
x1

array([5, 0, 3, 3, 7, 9])

In [47]:
x1[0],x1[3]

(5, 3)

In [48]:
x1[4]

7

In [49]:
x1[-1] #negative indices index from the end of an array

9

In [50]:
x2

array([[3, 5, 2, 4],
       [7, 6, 8, 8],
       [1, 6, 7, 7]])

In [51]:
x2[0,0]

3

In [52]:
x2[1,0]

7

In [53]:
x2[2,2]

7

In [54]:
x2[0,0]==x2[1,0]

False

In [55]:
x2[1,0]==x2[2,2]

True

In [56]:
x2[0,0]==x2[0,0]

True

In [57]:
x2[0,0]=25

In [58]:
x2

array([[25,  5,  2,  4],
       [ 7,  6,  8,  8],
       [ 1,  6,  7,  7]])

In [59]:
x1[0] = 3.14159 #you attempt to insert a floating-point value to an integer array, the value will be silently truncated.

In [60]:
x1 #the value of x1[0] in cell below is 3 not 3.14159

array([3, 0, 3, 3, 7, 9])

# Array Slicing: Accessing Subarrays

In [61]:
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [62]:
x[:5] #first five elements

array([0, 1, 2, 3, 4])

In [63]:
x[5:] # elements after index 5

array([5, 6, 7, 8, 9])

In [64]:
x[4:7]

array([4, 5, 6])

In [65]:
x[4:7:2]

array([4, 6])

In [66]:
x[::2]

array([0, 2, 4, 6, 8])

In [67]:
x[1::2]

array([1, 3, 5, 7, 9])

In [68]:
x[::-1]

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [69]:
x[5::-2]

array([5, 3, 1])

In [70]:
x[5::-1]

array([5, 4, 3, 2, 1, 0])

In [71]:
x2

array([[25,  5,  2,  4],
       [ 7,  6,  8,  8],
       [ 1,  6,  7,  7]])

In [72]:
x2[:2, :3] # two rows, three columns

array([[25,  5,  2],
       [ 7,  6,  8]])

In [73]:
x2[:3,::2] # all rows, every other column

array([[25,  2],
       [ 7,  8],
       [ 1,  7]])

In [74]:
x2[::,::2]

array([[25,  2],
       [ 7,  8],
       [ 1,  7]])

In [75]:
x2[::,::]

array([[25,  5,  2,  4],
       [ 7,  6,  8,  8],
       [ 1,  6,  7,  7]])

In [76]:
x2[:,0]

array([25,  7,  1])

In [77]:
x2

array([[25,  5,  2,  4],
       [ 7,  6,  8,  8],
       [ 1,  6,  7,  7]])

In [78]:
print(x2[:,0]) # first column of x2

[25  7  1]

In [79]:
print(x2[0,:])# first row of x2

[25  5  2  4]

In [80]:
print(x2[0]) # equivalent to x2[0, :]

[25  5  2  4]

In [81]:
print(x2)

[[25  5  2  4]
 [ 7  6  8  8]
 [ 1  6  7  7]]

In [82]:
x2_sub = x2[:2,:2]
print(x2_sub)

[[25  5]
 [ 7  6]]

In [83]:
x2_sub[0, 0] = 99 #if we modify this subarray, weâ€™ll see that the original array is changed!
print(x2_sub)

[[99  5]
 [ 7  6]]

In [84]:
print(x2)

[[99  5  2  4]
 [ 7  6  8  8]
 [ 1  6  7  7]]

In [85]:
x2_sub_copy = x2[:2, :2].copy()
print(x2_sub_copy)

[[99  5]
 [ 7  6]]

In [86]:
#now modify this subarray, the original array is not touched
x2_sub_copy[0, 0] = 42
print(x2_sub_copy)

[[42  5]
 [ 7  6]]

In [87]:
print(x2)

[[99  5  2  4]
 [ 7  6  8  8]
 [ 1  6  7  7]]